body {
    font-family: sans-serif;
    background-color:pink;
    
    height:1200px;
    width:1000px;
}
html{
    background:blue;
}
.row {
    text-align:left;
    color:purple;
    font-size:20px;
}



.jumbotron {
    font-weight: bold;
    font-style:italic;
    color:darkgreen;
}

.img-medium {
    height:250px;
    width:250px;
}
.row1{
    text-align:center;
    color:red;
    font-weight:bold;
    font-size:20px;
    
}
.p1{
    font-weight: bold;
    text-align:center;
    font-style:italic;
    color:darkgreen;
    
}
.p2{
    font-weight: bold;
    text-align:center;
    font-style:italic;
    color:darkred;
    
}
.h1{
    font-weight:bold;
    font-size:50px;
    text-align:center;
    color:red;
}
 .container{
            font-family: sans-serif;
            background-color:pink;
            margin:0 auto; 
            max-height:600px;
            max-width:800px;
            padding-top:60px;
             padding-left:20px;
             padding-right:20px;
             }