body {
    font-family: sans-serif;
    background-color:pink;
    margin-top: 60px;
}
html{
    background:blue;
}
.row {
    text-align:left;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
    font-style:italic;
    color:orange;
}

.img-medium {
    height: 250px;
    width:250px;
}
.img{
    text-align:center;
}

